@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Unbounded:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-unbounded);
}

@theme {
    --font-unbounded: "Unbounded", sans-serif;
    --font-inter: "Inter", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;

    --color-back: var(--back);

    --color-primary: #CCFE00;
    --color-greenBG: #F4FECD;
    --color-blueBG: #CCD7F7;
    --color-hover: #DBFF48;
    --color-background: var(--background);
    --color-label: var(--label);
    --color-hoverText: var(--hoverText);

    /* crumbs */
    --color-crumbs: var(--crumbs);

    --color-link: var(--link);

    /* active */
    --color-cityHover: var(--cityHover);
    /* Input BG */
    --color-inputBG: var(--inputBG);
    --color-heroBG: var(--heroBG);


}

:root {
  --background: #F3F4F4;
  --heroBG: var(--color-gray-950);
  --back: #fff;
  --label: #12121266;
  --hoverText: #121212;
  --crumbs: var(--color-gray-600);
  --cityHover: var(--color-gray-200);
  --inputBG: #fff;
  --link: #121212;
}

.dark {
  --background: #2C2C2C;
  --heroBG: #2c2c2c;
  --back: #121212;
  --label: #fff;
  --hoverText: #CCFE00;
  --crumbs: var(--color-gray-600);
  --cityHover: #444;
  --inputBG: #242424;
  --link: #fff;
}

.bg-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/wave.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  opacity: 0.6;
  z-index: 0;
}

.special-label {
  display: none !important;
}

/* styles/globals.css */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}


.container-class {
  @apply container mx-auto my-16 lg:my-20 px-6 lg:px-24 lg:py-13
}

@media (max-width: 768px) {
  h1 {
    @apply text-2xl;
  }

  h1.special {
    @apply text-[32px] text-left md:leading-10;
  }

  h1.leadForm {
    @apply text-[22px];
  }
}

@layer utilities {
  .rounded-custom {
    border-radius: 20px;
  }
}

/* list */
.payload-richtext ul {
    @apply list-disc font-inter list-inside py-4 pl-3 font-light text-sm;
  }

  .payload-richtext ol {
    @apply list-decimal font-inter list-inside py-4 pl-3 font-light text-sm;
  }

  .payload-richtext strong {
    @apply font-medium
  }

  .payload-richtext blockquote {
    @apply border-l-4 border-gray-300 pl-4 font-inter italic my-4 font-light
  }

 /* Headings */
  .payload-richtext h1 {
    @apply text-2xl md:text-4xl my-2 md:mb-4 md:px-40 md:leading-13;
  }

  .payload-richtext h2 {
    @apply text-2xl md:text-3xl mb-2 md:mb-4 md:leading-12;
  }

  .payload-richtext h3 {
    @apply text-xl md:text-2xl mb-4;
  }

  .payload-richtext h4 {
    @apply text-lg md:text-xl mb-4;
  }

  .payload-richtext h5 {
    @apply text-xl mb-2;
  }

  .payload-richtext p {
    @apply font-inter font-light text-base;
  }

  .adv-richtext p {
    @apply text-base font-normal text-black/80; /* Or use rem like 1rem */
  }

  .approach-richtext h1 {
    @apply text-2xl md:text-4xl my-2 md:mb-4 md:px-40 md:leading-13;
  }

  .approach-richtext p {
    @apply text-xl font-inter md:px-24
  }

  .mission-richtext p {
    @apply text-sm font-inter uppercase text-hoverText mb-4; 
  }

  .mission-richtext h5 {
    @apply text-base md:text-2xl; 
  }

  /* Company heading */
  .company-richtext h1 {
    @apply text-xl md:text-4xl my-2 md:mb-4 px-6 md:px-40 md:leading-13;
  }

  /* Case heading */
  .case-richtext h1 {
    @apply text-2xl md:text-5xl mb-2 md:mb-4
  }
  .case-richtext p {
    @apply text-base md:text-2xl font-light
  }

    /* Vacancy heading */
    .vacancy-richtext h1 {
      @apply text-2xl md:text-5xl mb-2 md:mb-8
    }
    .vacancy-richtext p {
      @apply text-base md:text-xl font-light font-inter
    }
